{% extends 'base.html' %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
    <!-- Page Content -->
<div class="container">
<div class="row">
    <div class="col-lg-8">
        <h1 class="mt-4">{{ post.name }}</h1>
        <p class="lead">By {{ post.author }}</p>
        <hr>
        <p>Posted on January 1, 2019 at 12:00 PM</p>
        <hr>
        {% if post.image %}
        <a href="{{ post.image.url }}">
          <img
            class="card-img-top img-fluid"
            src="{{ post.image.url }}"
            alt="{{ post.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top img-fluid"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ post.name }}"
          />
        </a>
        {% endif %}
        <hr>
        <p class="lead">{{ post.body }}</p>
    </div>
</div>
</div>
<a href="{% url 'blog' %}">News</a>
{% endblock %}